<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Personal book library</title>
</head>
<body>
  Proof of life!
  I will put a form here
  and make a second page to check the database later
</body>
</html>